<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.noriental.resourcesvr.clip.dao.EntityPptxInfoMapper">
    <resultMap id="BaseResultMap" type="com.noriental.resourcesvr.clip.entity.EntityPptxInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="old_md5" property="oldMd5" jdbcType="VARCHAR"/>
        <result column="new_md5" property="newMd5" jdbcType="VARCHAR"/>
        <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="step" property="step" jdbcType="TINYINT"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, old_md5, new_md5, upload_time, finish_time, step, msg
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from entity_pptx_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByOldMd5" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from entity_pptx_info
        where old_md5 = #{md5,jdbcType=VARCHAR}
        limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from entity_pptx_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.noriental.resourcesvr.clip.entity.EntityPptxInfo">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into entity_pptx_info (old_md5, new_md5, upload_time,
        finish_time, step, msg
        )
        values (#{oldMd5,jdbcType=VARCHAR}, #{newMd5,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP},
        #{finishTime,jdbcType=TIMESTAMP}, #{step,jdbcType=TINYINT}, #{msg,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.noriental.resourcesvr.clip.entity.EntityPptxInfo">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into entity_pptx_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oldMd5 != null">
                old_md5,
            </if>
            <if test="newMd5 != null">
                new_md5,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="finishTime != null">
                finish_time,
            </if>
            <if test="step != null">
                step,
            </if>
            <if test="msg != null">
                msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oldMd5 != null">
                #{oldMd5,jdbcType=VARCHAR},
            </if>
            <if test="newMd5 != null">
                #{newMd5,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="step != null">
                #{step,jdbcType=TINYINT},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.noriental.resourcesvr.clip.entity.EntityPptxInfo">
        update entity_pptx_info
        <set>
            <if test="oldMd5 != null">
                old_md5 = #{oldMd5,jdbcType=VARCHAR},
            </if>
            <if test="newMd5 != null">
                new_md5 = #{newMd5,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="step != null">
                step = #{step,jdbcType=TINYINT},
            </if>
            <if test="msg != null">
                msg = #{msg,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.noriental.resourcesvr.clip.entity.EntityPptxInfo">
    update entity_pptx_info
    set old_md5 = #{oldMd5,jdbcType=VARCHAR},
      new_md5 = #{newMd5,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      step = #{step,jdbcType=TINYINT},
      msg = #{msg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>