<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sharding="http://shardingsphere.io/schema/shardingsphere/sharding"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://shardingsphere.io/schema/shardingsphere/sharding http://shardingsphere.io/schema/shardingsphere/sharding/sharding.xsd">
    <!-- #################### -->
    <!--       分库分表        -->
    <!-- #################### -->
    <!-- ==================== -->
    <!--      物理数据源       -->
    <!-- ==================== -->
    <bean id="ds0" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ds_sharding"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <bean id="ds1" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3307/ds_sharding"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <!-- ==================== -->
    <!--   分库分表算法及策略   -->
    <!-- ==================== -->
    <!-- 用户（水平分表） -->
    <bean id="userTableShardingAlgorithm"
          class="com.company.project.common.sharding.algorithm.ModuloShardingAlgorithm">
        <constructor-arg name="shardingCount" value="3"/>
    </bean>
    <sharding:standard-strategy id="userTableShardingStrategy"
                                sharding-column="UB_USER_ID"
                                precise-algorithm-ref="userTableShardingAlgorithm"/>
    <!-- 订单（水平分库分表） -->
    <sharding:inline-strategy id="orderBaseDatabaseShardingStrategy"
                              sharding-column="RB_ORDER_ID"
                              algorithm-expression="ds${RB_ORDER_ID % 2}"/>
    <sharding:inline-strategy id="orderBaseTableShardingStrategy"
                              sharding-column="RB_ORDER_ID"
                              algorithm-expression="ORDER_BASE_${RB_ORDER_ID % 2}"/>
    <sharding:inline-strategy id="orderItemDatabaseShardingStrategy"
                              sharding-column="RI_ORDER_ID"
                              algorithm-expression="ds${RI_ORDER_ID % 2}"/>
    <sharding:inline-strategy id="orderItemTableShardingStrategy"
                              sharding-column="RI_ORDER_ID"
                              algorithm-expression="ORDER_ITEM_${RI_ORDER_ID % 2}"/>
    <!--  -->
    <bean id="multipleKeysShardingAlgorithm" class="com.company.project.common.sharding.algorithm.MultipleKeysShardingAlgorithm">
    </bean>
    <sharding:complex-strategy id="multipleKeysShardingStrategy"
                               sharding-columns=""
                               algorithm-ref="multipleKeysShardingAlgorithm"/>
    <!-- ==================== -->
    <!--       逻辑数据源      -->
    <!-- ==================== -->
    <sharding:data-source id="dataSource">
        <!-- 分片规则 -->
        <sharding:sharding-rule data-source-names="ds0, ds1"
                                default-database-strategy-ref=""
                                default-table-strategy-ref=""
                                default-data-source-name=""
                                default-key-generator-ref="">
            <!-- 表规则 -->
            <sharding:table-rules>
                <sharding:table-rule logic-table="USER_BASE"
                                     actual-data-nodes="ds0.USER_BASE_${0..2}"
                                     table-strategy-ref="userTableShardingStrategy"/>
                <sharding:table-rule logic-table="ORDER_BASE"
                                     actual-data-nodes="ds${0..1}.ORDER_BASE_${0..1}"
                                     table-strategy-ref="orderBaseTableShardingStrategy"
                                     database-strategy-ref="orderBaseDatabaseShardingStrategy"/>
                <sharding:table-rule logic-table="ORDER_ITEM"
                                     actual-data-nodes="ds${0..1}.ORDER_ITEM_${0..1}"
                                     table-strategy-ref="orderItemTableShardingStrategy"
                                     database-strategy-ref="orderItemDatabaseShardingStrategy"/>
                <sharding:table-rule logic-table="ss"
                                     actual-data-nodes=""
                                     table-strategy-ref=""/>
            </sharding:table-rules>
            <!-- 绑定表规则 -->
            <sharding:binding-table-rules>
                <sharding:binding-table-rule logic-tables="ORDER_BASE, ORDER_ITEM"/>
            </sharding:binding-table-rules>
        </sharding:sharding-rule>
        <!-- 属性 -->
        <sharding:props>
            <prop key="sql.show">true</prop>
            <prop key="executor.size">10</prop>
        </sharding:props>
    </sharding:data-source>
</beans>
