<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sharding="http://shardingsphere.io/schema/shardingsphere/sharding"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://shardingsphere.io/schema/shardingsphere/sharding http://shardingsphere.io/schema/shardingsphere/sharding/sharding.xsd">
    <!-- ==================== -->
    <!--       水平分表        -->
    <!-- ==================== -->
    <!-- 数据源 -->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ds"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <!-- 分库算法及策略 -->
    <!-- 分表算法及策略 -->
    <bean id="tableShardingAlgorithm"
          class="com.company.project.common.db.PreciseModuloTableShardingAlgorithm"/>
    <sharding:standard-strategy id="tableShardingStrategy"
                                sharding-column="USER_ID"
                                precise-algorithm-ref="tableShardingAlgorithm"/>
    <!-- 数据源 -->
    <sharding:data-source id="dataSource">
        <sharding:sharding-rule data-source-names="ds"
                                default-database-strategy-ref=""
                                default-table-strategy-ref=""
                                default-data-source-name=""
                                default-key-generator-ref="">
            <!-- 表规则 -->
            <sharding:table-rules>
                <sharding:table-rule logic-table="USER_BASE"
                                     actual-data-nodes="ds.USER_BASE_$->{0..1}"
                                     table-strategy-ref="tableShardingStrategy"/>
                <sharding:table-rule logic-table="USER_ADMIN"
                                     actual-data-nodes="ds.USER_ADMIN_$->{0..1}"
                                     table-strategy-ref="tableShardingStrategy"/>
            </sharding:table-rules>
            <!-- 绑定表规则 -->
            <sharding:binding-table-rules>
                <sharding:binding-table-rule logic-tables="USER_BASE, USER_ADMIN"/>
            </sharding:binding-table-rules>
        </sharding:sharding-rule>
    </sharding:data-source>
</beans>
