<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- ==================== -->
    <!--      扫描加载Bean     -->
    <!-- ==================== -->
    <context:component-scan base-package="com.company.project.dao, com.company.project.service"
                            use-default-filters="true">
    </context:component-scan>
    <!-- ==================== -->
    <!--      加载配置文件     -->
    <!-- ==================== -->
    <!-- 【一】 -->
    <!--<util:properties id="config" location="classpath*:*.properties"/>-->
    <!-- 【二】 -->
    <!--<context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>-->
    <!-- ==================== -->
    <!--        AOP           -->
    <!-- ==================== -->
    <!--&lt;!&ndash; 【一】 &ndash;&gt;-->
    <!--<bean id="myBeforeAdvice" class="com.company.project.support.aop.MyBeforeAdvice"/>-->
    <!--<bean class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="proxyInterfaces">-->
            <!--<value>com.company.project.service.UserService</value>-->
        <!--</property>-->
        <!--<property name="target">-->
            <!--<bean class="com.company.project.service.UserServiceImpl"/>-->
        <!--</property>-->
        <!--<property name="interceptorNames">-->
            <!--<list>-->
                <!--<value>myBeforeAdvice</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 【二】 &ndash;&gt;-->
    <!--&lt;!&ndash; 【三】 &ndash;&gt;-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">-->
    <!--</bean>-->
    <!--&lt;!&ndash; 【四】 &ndash;&gt;-->
    <!--<bean id="monitor" class="com.company.project.support.aop.Monitor"/>-->
    <!--<bean id="logger" class="com.company.project.support.aop.Logger"/>-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="myPointCut" expression="execution(public * com.company.project.service..*.*(..))"/>-->
        <!--<aop:aspect ref="monitor" order="6">-->
            <!--<aop:before method="doBefore" pointcut-ref="myPointCut"/>-->
            <!--<aop:after method="doAfter" pointcut-ref="myPointCut"/>-->
            <!--<aop:after-throwing method="doAfterThrowing" pointcut-ref="myPointCut"/>-->
            <!--<aop:after-returning method="doAfterReturning" pointcut-ref="myPointCut"/>-->
            <!--<aop:around method="doAround" pointcut-ref="myPointCut"/>-->
        <!--</aop:aspect>-->
        <!--<aop:aspect ref="logger" order="3">-->
            <!--<aop:before method="doBefore" pointcut-ref="myPointCut"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <!--&lt;!&ndash; 【五】 &ndash;&gt;-->
    <!--<bean class="com.company.project.support.aop.MyAspect"/>-->
    <!--<aop:aspectj-autoproxy/>-->
    <!-- ==================== -->
    <!--        扩展点        -->
    <!-- ==================== -->
</beans>