<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:master-slave="http://shardingsphere.io/schema/shardingsphere/masterslave"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://shardingsphere.io/schema/shardingsphere/masterslave http://shardingsphere.io/schema/shardingsphere/masterslave/master-slave.xsd">
    <!-- ==================== -->
    <!--       读写分离        -->
    <!-- ==================== -->
    <!-- 数据源 -->
    <bean id="ds_master" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ds_master"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <bean id="ds_slave0" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ds_slave0"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <bean id="ds_slave1" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ds_slave1"/>
        <property name="username" value="root"/>
        <property name="password" value="123123"/>
    </bean>
    <!-- 负载均衡策略（随机和轮询） -->
    <bean id="randomStrategy"
          class="io.shardingsphere.api.algorithm.masterslave.RandomMasterSlaveLoadBalanceAlgorithm"/>
    <!-- 数据源 -->
    <master-slave:data-source id="dataSource"
                              master-data-source-name="ds_master"
                              slave-data-source-names="ds_slave0, ds_slave1"
                              strategy-ref="randomStrategy"
                              strategy-type="">
        <!-- 属性 -->
        <master-slave:props>
            <prop key="sql.show">true</prop>
            <prop key="executor.size">10</prop>
        </master-slave:props>
    </master-slave:data-source>
</beans>
