<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ==================== -->
    <!-- 入口                 -->
    <!-- ==================== -->
    <bean id="authFilter" class="org.jasig.cas.client.authentication.AuthenticationFilter">
        <property name="casServerLoginUrl" value="http://www.sohu.com"/>
        <property name="serverName" value="http://localhost:8080/"/>
    </bean>
    <!-- ==================== -->
    <!-- 入口                 -->
    <!-- ==================== -->
    <bean id="ticketValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter">
        <property name="serverName" value="http://localhost:8080/"/>
    </bean>
</beans>