<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- ==================== -->
    <!-- 认证及授权入口         -->
    <!-- ==================== -->
    <security:http entry-point-ref="loginEntryPoint" use-expressions="false">
        <!-- 拦截url -->
        <security:intercept-url pattern="/login.jsp**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/static/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/src/main" access="IS_AUTHENTICATED_FULLY"/>
        <!-- 过滤器链 -->
        <security:custom-filter ref="watchDogFilter" before="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="customLoginFilter" position="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="customLogoutFilter" position="LOGOUT_FILTER"/>
        <!--<security:custom-filter ref="customFilterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>-->
        <!--  -->
        <!--<securinty:access-denied-handler ref="accessDeniedHandler"/>-->
        <security:csrf disabled="true"/>
    </security:http>
    <!-- 登录入口 -->
    <bean id="loginEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/login.jsp?msg=please_login"/>
    </bean>
    <!-- ==================== -->
    <!--      认证管理器       -->
    <!-- ==================== -->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="daoAuthenticationProvider"/>
    </security:authentication-manager>
    <!-- Dao认证提供者 -->
    <bean id="daoAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userDetailsService"/>
        <!--<property name="passwordEncoder" ref="md5PasswordEncoder"/>-->
    </bean>
    <bean id="userDetailsService" class="study.spring.mvc.auth.security.user.CustomUserDetailsService"/>
    <bean id="md5PasswordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
        <property name="encodeHashAsBase64" value="true"/>
    </bean>
    <!-- 认证过滤器 -->
    <bean id="customLoginFilter" class="study.spring.mvc.auth.security.filter.CustomLoginFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="filterProcessesUrl" value="/login.html"/>
        <property name="usernameParameter" value="loginName"/>
        <property name="passwordParameter" value="loginPwd"/>
        <property name="authenticationSuccessHandler" ref="successHandler"/>
        <property name="authenticationFailureHandler" ref="failureHandler"/>
    </bean>
    <!-- 登录成功 -->
    <bean id="successHandler" class="study.spring.mvc.auth.security.handler.LoginSuccessHandler">
        <property name="defaultTargetUrl" value="/index.jsp"/>
        <property name="alwaysUseDefaultTargetUrl" value="true"/>
    </bean>
    <!-- 登录失败 -->
    <bean id="failureHandler" class="study.spring.mvc.auth.security.handler.LoginFailureHandler">
        <property name="defaultFailureUrl" value="/login.jsp?msg=login_failure"/>
    </bean>
    <!-- ==================== -->
    <!-- 注销过滤器            -->
    <!-- ==================== -->
    <bean id="customLogoutFilter" class="study.spring.mvc.auth.security.filter.CustomLogoutFilter">
        <property name="filterProcessesUrl" value="/logout.html"/>
        <constructor-arg index="0" value="/login.jsp?msg=logout_success"/>
        <constructor-arg index="1">
            <array>
                <bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
                <bean class="study.spring.mvc.auth.security.handler.CustomLogoutHandler"/>
            </array>
        </constructor-arg>
    </bean>
    <!-- ==================== -->
    <!-- 授权过滤器            -->
    <!-- ==================== -->
    <bean id="customFilterSecurityInterceptor"
          class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
        <property name="securityMetadataSource" ref="defaultSecurityMetadataSource"/>
    </bean>
    <!-- 决策管理器 -->
    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg type="java.util.List">
            <list>
                <ref bean="roleVoter"/>
            </list>
        </constructor-arg>
    </bean>
    <!-- 角色投票器 -->
    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <property name="rolePrefix" value=""/>
    </bean>
    <!-- 安全数据源 -->
    <bean id="defaultSecurityMetadataSource"
          class="org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadataSource">
        <constructor-arg type="java.util.LinkedHashMap">
            <ref bean="functionMap"/>
        </constructor-arg>
    </bean>
    <bean id="functionMap" class="study.spring.mvc.auth.security.FunctionMapFactoryBean">
    </bean>
    <!-- 访问拒绝处理器 -->
    <bean id="accessDeniedHandler" class="study.spring.mvc.auth.security.handler.CustomAccessDeniedHandler">
        <property name="errorPage" value="/accessDenied.jsp"/>
    </bean>
    <!-- ==================== -->
    <!-- 自定义过滤器          -->
    <!-- ==================== -->
    <bean id="watchDogFilter" class="study.spring.mvc.auth.security.filter.WatchDogFilter">
    </bean>
</beans>